body{
    margin: 0px;
    background-image: url(image/fond.png);
    font-family: "Lato", sans-serif;
    font-weight: 550;
    font-style: normal;
    text-decoration-color: white;
}

header {
    height: 75px;
    background-color: rgb(122, 166, 233);
    border-bottom: solid rgb(255, 255, 255) 2px;
    width: 100%;
    position: fixed;
    top: 0px;
}

.menu{
    margin-top: 0px;
}

.aProp{
    
    display: box;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li{
    width: 150px;
    margin-left: 130px;
    transition-duration: 0.5s;
    margin: auto;
}   

nav a:hover{
    background-color: rgba(41, 101, 221, 0.705);
}



nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

.navbtn {
    padding: 0 60px;
}

nav ul ::after{
    content: "";
    display: table;
        clear: both;
}
    
nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 10px;
    border-radius: 3px;
}

.sous{
    
    display: none;
    background-color: rgba(41, 101, 221, 0.705);
    
    
    }


nav > ul li:hover .sous{
    display: block;
    padding-inline-start: 0;
    width: 63.75%;
    margin-left: 18%;
    text-align: center;
}

.sous li{
    width: 100%;
    text-align: center;
}

.sous a{
    border-bottom: none;
}

.sous a:hover{
    color: black;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

ul,li{
    list-style: none;
}

.menu3{
    height: 60px;
    width: 70px;
    position: absolute;
        top: 10%;
        left: 1.2%;
}

.Ubisoft{
    margin-top: 8%;
    height: 35%;
    width: 42%;
}

.tout {
    display: flex;
    justify-content: center;  
}
.section1{
    border-radius: 50px 50px;
    background-color: rgb(173,216,230);
    margin-top: 12%;
    width: 80%;
    height: 90%;
    box-shadow: 0px 0px 60px black;
    padding-bottom: 20px;
    padding-top: 1px;
}

.etage0{
    display: flex;
    justify-content: center;
    margin-left: 45px;
}

.txt0{
    margin-top: 30px;
    margin-bottom: 15px;
} 

.jeu1{
    border-radius: 10px 10px;
    color: black;
    margin-right: 50px;
    width: 250px;
    border: solid black 2px;
    padding: 15px;
    background: rgb(163,198,215);
}

.img0{
    width: 180px;
    height: 250px;
    border: solid black 3px;
}

.img1{
    width: 100px;
    height: 100px;
}

.étage1{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid gray 2px;
    border-bottom: solid gray 2px;
}

.étage2{
    display:flex
    justify-content flex-start;
    background: rgb(163,198,215);
}
    
.maps{
    width: 250px;
    height: 250px;
    margin-left: 10px;
    transition: 0.4s;
}

.maps:hover{
    width: 300px;
    height: 300px;
}

footer{
    color: white;
    height: 115px;
    background-color:  rgb(122, 166, 233);
    border-top: solid white 2px;
    width: 100%;
    position: relative;
        top: 170px;
        right: 0px;
        left: 0px;
}
