@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0px;
    background-color: rgb(85, 73, 73);
    font-family: "Lato", sans-serif;
    font-weight: 550;
    font-style: normal;
    text-decoration-color: black;
}

header {
    z-index: 1000;
    height: 75px;
    background-color: rgb(255, 255, 255);
    border-bottom: solid rgb(139, 124, 124) 3px;
    width: 100%;
    position: fixed;
    top: 0px;
    color: rgb(0, 0, 0)
}

.menu{
    margin-top: 0px;
}


nav ul li div a{
    margin-top: 0px;
    text-decoration: none;
    color: black;
    font-size: large;
}

nav ul li{
    width: 150px;
    margin-left: 130px;
    transition-duration: 0.9s;
    margin: auto;
}   

nav a:hover{
    background-color: rgb(189, 164, 164);
    color: rgb(0, 0, 0);
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

.navbtn {
    padding: 0 80px;
}
    
nav a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 10px;
    border-radius: 3px;
}


nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

ul,li{
    list-style: none;
}

.menu3{
    height: 70px;
    width: 100px;
    position: absolute;
        top: 3%;
        left: 0%;
    object-fit: cover;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(139, 124, 124)f;
    padding: 25px;
}

.div2 form {
    width: 700px;
    padding: 40px;
    background: rgb(139, 124, 124);
    border-radius: 10px;
}

form .div2 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.div2 .div3 {
    flex: 1 1 250px;
}

.div3 .title {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.div3 .input-box {
    margin: 15px 0;
}

.input-box span {
    display: block;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.div3 .flex {
    display: flex;
    gap: 15px;
}

.flex .input-box {
    margin-top: 5px;
}

.input-box img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #fffffe);
}

form .btn {
    width: 100%;
    padding: 12px;
    background:     darkgreen;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}

form .btn:hover {
    background: #03ee22;
}

